/*
Based on https://github.com/aosabook/500lines/blob/master/spreadsheet/code/styles.css

******************************************************************************
Original License: https://github.com/aosabook/500lines/blob/master/LICENSE.md

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
******************************************************************************
*/
body {
  /* Personal preferences */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fafafa;
  /* Basics from normalize.css */
  /* margin: 0; */
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  font-weight: 400;
  /*
    Normalize.css sets line-height to 1.15 as a standard,
    but I prefer 1.5 as the base for all text,
    because it's a bit more readable and spacious.
  */
  line-height: 1.15;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ccc;
}
th {
  background: #ddd;
}

td div {
  text-align: right;
  width: 120px;
  min-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
td.formula {
  background: #eef;
}
td.text div {
  text-align: left;
}
td.error div {
  text-align: center;
  color: #800;
  font-size: 90%;
  border: solid 1px #800;
}
td.boolean div {
  text-align: center;
}
td.function div {
  font-family: monospace;
  text-align: left;
}
td.function {
  background-color: rgba(0%, 0%, 0%,  7%);
}

input {
  position: absolute;
  border: 0;
  padding: 0;
  width: 120px;
  height: 1.3em;
  font-size: 100%;
  color: transparent;
  background: transparent;
}
input:focus {
  color: #111;
  background: #efe;
}
input:focus + div {
  white-space: nowrap;
}

.sheet-controls {
  margin-bottom: 0.25em;
}

.sheet-controls button {
  margin-right: 0.25em;
  height: 100%;
  padding: 1px 6px;
}

.sheet-controls select {
  margin-right: 0.25em;
  height: 100%;
  padding: 2px 3px;
}